@page "/"

<PageTitle>New Document</PageTitle>

<h1>Document</h1>
<p>Let us make a new document for a barangay.</p>

<div>
    <dsa_marketing.Pages.Documents.Purchase_Order />
    <dsa_marketing.Pages.Documents.TransactionList/>
</div>

