@page "/home"

<PageTitle>DSA Marketing, Inc.</PageTitle>

@code {
    private string homeSearch = "";

    void Search()
    {
        
    }
}

<MudGrid Class="d-flex align-content-center align-center justify-space-between flex-grow-1 pb-3">
    <MudItem Class="d-flex flex-grow-1 align-center">
        <MudText Typo="Typo.h3" Class="fw-bold" Style="@($"color:{Colors.Shades.Black};")">Dashboard</MudText>
    </MudItem>
    <MudItem Class="w-25 align-center">
        <MudTextField @bind-Value="homeSearch" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </MudItem>
    <MudItem Class="d-flex align-center">
        <MudAvatar Color="Color.Primary">A</MudAvatar>
    </MudItem>
</MudGrid>

<div class="flex flex-col gap-2">
    <div class="flex-grow-0 content-start">
        <dsa_marketing.Pages.Views.DsaTransactionsMetrics />
    </div>
    <div class="flex flex-col flex-grow-1">
        <dsa_marketing.Pages.Views.DsaTransactionsRecent />
    </div>
</div>













