@page "/"
@using Dapper;
@using MySql.Data.MySqlClient;
@using System.Collections.Generic;
@using Models

<PageTitle>Combined Data</PageTitle>

<h1>Combined Data</h1>
<p>Displaying data from multiple tables in Blazor using Dapper.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Municipality Name</th>
            <th>Barangay Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in combinedData)
        {
            <tr>
                <td>@data.TransactionId</td>
                <td>@data.MunicipalityName</td>
                <td>@data.BarangayName</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<TransactionsModel> combinedData = new List<TransactionsModel>();

    protected override async Task OnInitializedAsync()
    {
        string connectionString = "Server=127.0.0.1;Port=3306;Database=dsa_cluster;Uid=aidrecabrera;Pwd=aidrecabrera";
        MySqlConnection connection = new MySqlConnection(connectionString);

        var query = @"
            SELECT
                *
            FROM
                Transactions
        ";

        var outputList = connection.Query<TransactionsModel>(query);
        combinedData = outputList.ToList();
    }
}