@page "/"
@using Dapper;
@using MySql.Data.MySqlClient;
@using dsa_marketing.Models
@using dsa_marketing.Controller

<PageTitle>New Document</PageTitle>

<h1>Document</h1>
<p>Let us make a new document for a barangay.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Municipality Name</th>
            <th>Barangay Name</th>
            <!-- Add other column headers here -->
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in transactions)
        {
            <tr>
                <td>@transaction.TransactionId</td>
                <td>@transaction.MunicipalityName</td>
                <td>@transaction.BarangayName</td>
                <!-- Add other column values here -->
            </tr>
        }
    </tbody>
</table>

@code {
    private List<TransactionViewModel> transactions = new List<TransactionViewModel>();

    protected override async Task OnInitializedAsync()
    {
        string connectionString = "Server=127.0.0.1;Port=3306;Database=dsa_cluster;Uid=aidrecabrera;Pwd=aidrecabrera";
        MySqlConnection connection = new MySqlConnection(connectionString);
        string selectQuery = "SELECT * FROM transactions";
        transactions = (await connection.QueryAsync<TransactionViewModel>(selectQuery)).ToList();
    }
}
