@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>Aneta</PageTitle>

<div class="flex flex-row h-screen">
  <div class="flex flex-col px-5 w-2/12 bg-neutral justify-center h-screen">
    <figure>
      <img src="dsa_marketing.png" alt="DSA Marketing, Inc." class="invert px-5">
    </figure>
    <NavMenu/>
  </div>
  <div class="flex bg-base-200 w-11/12 p-10 grow">
    @Body
  </div>
</div>
