<div>
    <nav class="flex flex-row justify-center items-center">
        <div class="w-1/6 nav-item">
            <NavLink class="nav-link justify-center items-center" href="" Match="NavLinkMatch.All">
                <span class="material-symbols-outlined" aria-hidden="true">description</span> Transactions
            </NavLink>
        </div>
        <div class="w-1/6 nav-item">
            <NavLink class="nav-link justify-center items-center" href="documents">
                <span class="material-symbols-outlined" aria-hidden="true">contract</span> Documents
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
