<div class="w-full">
    <ul class="menu menu-lg gap-2">
        <li>
            <div class="flex flex-row hover:bg-secondary-focus px-5 pl-5 py-3 text-primary-content align-middle">
                <span aria-hidden="true" class="material-icons">
                    home
                </span>
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
        </li>
        <li>
            <div class="flex flex-row hover:bg-secondary-focus px-5 py-3 text-primary-content align-middle">
                <span aria-hidden="true" class="material-symbols-rounded">
                    contract
                </span>
                <NavLink href="transactions" Match="NavLinkMatch.All">
                    Transaction
                </NavLink>
            </div>
        </li>
        <li>
            <div class="flex flex-row hover:bg-secondary-focus px-5 py-3 text-primary-content align-middle">
                <span aria-hidden="true" class="material-icons">
                    add_circle
                </span>
                <NavLink href="create" Match="NavLinkMatch.All">
                    Create
                </NavLink>
            </div>
        </li>
        <li>
            <div class="flex flex-row hover:bg-secondary-focus px-5 py-3 text-primary-content align-middle">
                <span aria-hidden="true" class="material-icons">
                    storage
                </span>
                <NavLink href="manage" Match="NavLinkMatch.All">
                    Manage
                </NavLink>
            </div>
        </li>
    </ul>
</div>