<!-- AbstractOfQuotation.razor -->

<div class="abstract-of-quotation">
    <!-- Label -->
    <h2>ABSTRACT OF QUOTATION</h2>

    <!-- Date and Office -->
    <div class="form-group">
        <label for="quotationDate">Open on:</label>
        <input type="text" id="quotationDate" class="form-control" />
    </div>

    <div class="form-group">
        <label for="office">at the office of the</label>
        <input type="text" id="office" class="form-control" />
    </div>

    <div class="form-group">
        <label for="officeUse">For use in the office of the</label>
        <input type="text" id="officeUse" class="form-control" />
    </div>

    <!-- Recommendations -->
    <h3>RECOMMENDATIONS:</h3>
    <div class="form-group">
        <label for="recommendations">It is hereby recommended that the above articles and/or materials be awarded to the</label>
        <input type="text" id="recommendations" class="form-control" />
    </div>

    <div class="form-group">
        <label for="awardee">of</label>
        <input type="text" id="awardee" class="form-control" />
    </div>

    <div class="form-group">
        <label for="locality">having the lowest price in the locality and has the complete and best kind of stocks which is most advantageous to the government. There were THREE (3) dealers that submitted their quotation.</label>
        <input type="text" id="locality" class="form-control" />
    </div>

    <!-- Committee Members -->
    <h3>MEMBERS COMMITTEE ON AWARD:</h3>

    <div class="form-group">
        <label for="committeeChairman">Chairman:</label>
        <input type="text" id="committeeChairman" class="form-control" />
    </div>

    <div class="form-group">
        <label for="committeeMember1">Member 1:</label>
        <input type="text" id="committeeMember1" class="form-control" />
    </div>

    <div class="form-group">
        <label for="committeeMember2">Member 2:</label>
        <input type="text" id="committeeMember2" class="form-control" />
    </div>

    <div class="form-group">
        <label for="committeeMember3">Member 3:</label>
        <input type="text" id="committeeMember3" class="form-control" />
    </div>

    <div class="form-group">
        <label for="committeeMember4">Member 4:</label>
        <input type="text" id="committeeMember4" class="form-control" />
    </div>

    <div class="form-group">
        <label for="committeeMember5">Member 5:</label>
        <input type="text" id="committeeMember5" class="form-control" />
    </div>

    <div class="form-group">
        <label for="committeeMember6">Member 6:</label>
        <input type="text" id="committeeMember6" class="form-control" />
    </div>

    <!-- Generate Inspection Report Button -->
    <button class="btn btn-primary">Generate Inspection Report</button>
</div>
